<section class="top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" id="about">
          <h1>仮設Twitt●r</h1>
          <p>
            課題用の仮設Twitt●rです。<br>
          </p>
      </div>
      <div class="col-sm-6">
        <img src="<%= asset_path "fox.jpg" %>">
      </div>
    </div>
  </div>
</section>